{{- /* vim:set syntax=gitignore */ -}}

README.md
.stylua.toml
.editorconfig

{{ if not .is_windows }}
.config/nushell/**
.config/tacky-borders/**
.tridactylrc
AppData/**
Documents/**
jwno.ahk
kanata.kbd
{{ end }}

{{ if .is_windows }}
.config/fish/**
{{ end }}

{{ if not .is_macos }}
.1password/agent.sock
.aerospace.toml
.config/1Password/**
.config/karabiner/**
.config/mise/**
.config/swiftbar/**
.hammerspoon/**
Brewfile
Library/**
{{ end }}
