[diff]
    command = "delta"
    pager = "riff"
[merge]
    command = "nvim"
    args = {{ "[\"-d\", \"{{ .Destination }}\", \"{{ .Source }}\", \"{{ .Target }}\"]" }}
[git]
    autoCommit = true
    autoPush = true
