{{- /* vim:set syntax=gitignore */ -}}

{{ if ne .chezmoi.os "windows" }}
.glzr/**
.tridactylrc
AppData/**
Documents/**
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.1password/agent.sock
.aerospace.toml
.config/1Password/**
.config/karabiner/**
.config/swiftbar/**
.hammerspoon/**
.ideavimrc
Brewfile
Library/**
{{ end }}
