{{- /* vim:set syntax=gitignore */ -}}

{{ if not .is_windows }}
.glzr/**
.tridactylrc
AppData/**
Documents/**
{{ end }}

{{ if .is_windows }}
.glzr/zebar/default/node_modules/**
{{ end }}

{{ if not .is_macos }}
.1password/agent.sock
.aerospace.toml
.config/1Password/**
.config/karabiner/**
.config/swiftbar/**
.hammerspoon/**
Brewfile
Library/**
{{ end }}

{{ if not (or .is_windows .is_macos)}}
keymapper.conf
{{ end }}
