# vim: set syntax=gitconfig :

[user]
    name = Jens Fredskov
    email = jsfr@users.noreply.github.com

[push]
    default = current

[alias]
    mc = merge --continue
    rc = rebase --continue

    rb = "!git switch $(git default-branch) && git pull --all --rebase --autostash && git switch - && git rebase $(git default-branch)"
    sm = "!git switch $(git default-branch) && git pull --all --rebase --autostash && git switch - && git merge $(git default-branch)"

    p = push
    fp = push --force-with-lease
    pf = push --force-with-lease
    u = pull --all --rebase --autostash

    a = add
    aa = add -A
    au = add -u .

    batman = "!git commit -m \"Batman! (this commit has no parents)\""
    c = commit
    ca = commit --amend
    upd = "!git add -A && git yolo && git push"
    wip = commit -m "wip" --no-verify
    yolo = "!git commit -m \"`curl -s https://whatthecommit.com/index.txt`\""

    bb = "!better-git-branch.sh"
    cb = "!git switch $(git default-branch) && git pull --all --rebase --autostash && git create-branch -r"
    db = delete-branch
    dbf = "!git delete-branch $(git branch | fzf)"

    sw = switch
    swf = "!git switch $(git branch | fzf)"
    swd = "!git switch $(git default-branch)"

    co = checkout
    re = restore

    d = diff
    dc = diff --cached
    dft = difftool

    default-branch ="!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'"
    echo = "!echo $(git default-branch); echo"

    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=short --graph

    s = status -sb

    st = stash

    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"

    clbr = clean-branches

[core]
    editor = nvim
    pager = delta
{{- if .is_windows }}
    eol = lf
    autocrlf = false
{{- end }}

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[rerere]
    enabled = true
    autoUpdate = true

[column]
    ui = auto

[branch]
    sort = -committerdate

[interactive]
    diffFilter = riff --color=on

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
    algorithm = histogram

[gpg]
    format = ssh

[pager]
    diff = riff
    show = riff
    log = riff

{{- if .is_windows }}

[credential]
    helper = manager
[credential "helperselector"]
    selected = manager

{{- else }}

[credential]
    helper = cache
{{- end -}}
