[misc]
no_retry = true
assume_yes = true
skip_notify = true
disable = ["git_repos", "containers", "microsoft_store", "bun"]
{{- if not .is_windows }}
pre_sudo = true
{{- end}}

# Custom commands
[commands]
"Neovim (lazy.nvim)" = "nvim --headless \"+Lazy! sync\" +qa"
"Neovim (mason.nvim)" = "nvim --headless +MasonUpdate +qa"

# vim: set syntax=toml :
